* {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  color: #000000;
  padding: 0;
  margin: 0;
}

body, html {
  width: 97%;
  height: 97%;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.5rem 3.125rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3.125rem;
  background: #FFFFFF;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  list-style: none;
}
#navbar li {
  width: 100%;
  height: 100%;
}
#navbar li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem 1.5625rem 0.625rem 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.625rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  font-size: 1.5625em;
  color: #686868;
  border: none;
  border-radius: 18px;
  background: #FFFFFF;
  white-space: nowrap;
}
#navbar li button:hover {
  color: #4654EB;
}
#navbar li .active {
  color: #4654EB;
  background: #F3F3FB;
}
#navbar li .nav-icon {
  width: 45px;
  height: 45px;
}
#navbar li .app-icon {
  width: 75px;
  height: 75px;
}
#navbar .nav-app-title form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  padding: 1.5625rem 1.5625rem 1.5625rem 0rem;
  color: #000000;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 3.375rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-radius: 4.125rem;
  background: #e0e0ef;
}
#content .page-title {
  font-size: 2.25em;
}

#task-list {
  width: 100%;
  height: 100%;
  list-style: none;
}
#task-list .task form {
  border-radius: 18px;
  height: 100%;
}
#task-list .task form button {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1.25rem;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  margin-bottom: 2.3%;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  font-size: 1.4375em;
  border: none;
  border-radius: 18px;
}
#task-list .task form button .task-image {
  margin-right: 1rem;
}
#task-list .task form button .task-image img {
  width: 35px;
  height: 35px;
}
#task-list .task form button .task-name {
  width: 18.16%;
}
#task-list .task form button .task-text {
  width: 43.35%;
}
#task-list .task form button .task-date {
  width: 7.36%;
}

#add-task {
  position: relative;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
}
#add-task .add-task-name, #add-task .add-task-text, #add-task .add-task-image, #add-task .add-task-date, #add-task .add-task-submit {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1.5%;
  padding-right: 1.5%;
  background: #FFFFFF;
  border-radius: 18px;
}
#add-task .add-task-name input, #add-task .add-task-name textarea, #add-task .add-task-text input, #add-task .add-task-text textarea, #add-task .add-task-image input, #add-task .add-task-image textarea, #add-task .add-task-date input, #add-task .add-task-date textarea, #add-task .add-task-submit input, #add-task .add-task-submit textarea {
  width: 100%;
  height: 100%;
  border: none;
  background: #FFFFFF;
  font-size: 1.4375em;
  resize: none;
  overflow-x: scroll;
  overflow: hidden;
}
#add-task .add-task-name input:focus, #add-task .add-task-name textarea:focus, #add-task .add-task-text input:focus, #add-task .add-task-text textarea:focus, #add-task .add-task-image input:focus, #add-task .add-task-image textarea:focus, #add-task .add-task-date input:focus, #add-task .add-task-date textarea:focus, #add-task .add-task-submit input:focus, #add-task .add-task-submit textarea:focus {
  outline: none;
}
#add-task .add-task-name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4%;
  width: 95%;
  height: 6.5%;
}
#add-task .add-task-name input {
  width: 100%;
  height: 100%;
}
#add-task .add-task-text {
  margin-top: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 95%;
  height: 45.1%;
}
#add-task .add-task-text textarea {
  width: 100%;
  height: 100%;
}
#add-task .add-task-image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
  width: 15%;
  height: 10%;
}
#add-task .add-task-image input::-webkit-file-upload-button {
  display: none;
}
#add-task .add-task-image input::file-selector-button {
  display: none;
}
#add-task .add-task-date {
  position: absolute;
  width: 12%;
  height: 6.5%;
  top: 0;
  left: 83.4%;
}
#add-task .add-task-submit {
  width: 12.72%;
  height: 6.54%;
  margin-left: 82%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#add-task .alert, #add-task .alert-date {
  display: none;
  position: absolute;
  top: 100%;
  left: 40%;
  font-size: 0.8em;
  font-weight: bold;
  color: #8a272a;
  white-space: nowrap;
}
#add-task .alert-date {
  left: -290%;
}

#task-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.3%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  width: 100%;
  height: 100%;
}
#task-info .task-info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#task-info .task-info-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#task-info .task-info-middle .task-info-text {
  width: 100%;
  height: 38%;
  word-break: break-all;
  overflow: scroll;
}

#profile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  gap: 4%;
  width: 100%;
  height: 100%;
}
#profile .profile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2%;
  width: 100%;
  height: 42%;
}
#profile .profile-content .profile-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  gap: 4.5%;
  width: 22%;
  height: 88%;
  padding: 2%;
  border-radius: 1.13rem;
  background-color: #FFFFFF;
  min-width: 120px;
}
#profile .profile-content .profile-card .profile-card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 1.13rem;
  background-color: #e0e0ef;
}
#profile .profile-content .profile-card .profile-card-top img {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 100%;
}
#profile .profile-content .profile-card .profile-card-top .profile-card-username {
  font-size: 1.5625em;
}
#profile .profile-content .profile-card a {
  text-align: center;
  text-decoration: none;
  width: 100%;
  border-radius: 1.13rem;
  font-size: 1.5625em;
  background-color: #e0e0ef;
}
#profile .profile-content .profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5%;
  background-color: #FFFFFF;
  border-radius: 18px;
  height: 88%;
  width: 100%;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 1.125em;
}
#profile .profile-content .profile-info .profile-info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
#profile .profile-content .profile-info .profile-info-top .profile-info-top-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5em;
}
#profile .profile-content .profile-info .profile-info-top .profile-info-top-name .profile-info-image {
  display: none;
}
#profile .profile-content .profile-info .profile-info-top .profile-info-top-name .profile-info-name {
  font-size: 1.5625em;
}
#profile .profile-content .profile-info .profile-info-top .profile-info-status {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
#profile .profile-content .profile-info .profile-info-top .profile-info-company {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
}
#profile .profile-content .profile-info .profile-info-top .profile-info-company:hover {
  color: #4654EB;
}
#profile .profile-content .profile-info .profile-info-list {
  list-style: none;
}
#profile .profile-content .profile-info .profile-info-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#profile .profile-content .profile-info .profile-info-list li .parameter-name {
  display: inline-block;
}
#profile .profile-content .profile-info .profile-info-list li .parameter-data {
  display: inline-block;
  margin-right: 18em;
}
#profile .profile-logout {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  bottom: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
#profile .profile-logout span {
  color: #8A272A;
  font-size: 25px;
}

#calendar .calendar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.8rem;
}
#calendar .calendar-content .calendar-content-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}
#calendar .calendar-content .calendar-content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.75em;
}
#calendar .calendar-content .calendar-content-top .calendar-content-top-swith {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
#calendar .calendar-content .calendar-content-top .calendar-content-top-swith a {
  text-decoration: none;
}
#calendar .calendar-content .calendar-content-top .calendar-content-top-swith a:hover {
  color: #4654EB;
  font-weight: bold;
  cursor: pointer;
}
#calendar .calendar-content .calebdar-content-table {
  background: #FFFFFF;
  padding: 1.5625rem 2.1875rem;
  border-radius: 18px;
}
#calendar .calendar-content table {
  border-collapse: collapse;
}
#calendar .calendar-content td, #calendar .calendar-content th {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.7rem 1.3rem;
  text-align: center;
}
#calendar .calendar-content td a, #calendar .calendar-content th a {
  font-size: 1.375em;
  text-decoration: none;
}
#calendar .calendar-content td:hover a, #calendar .calendar-content th:hover a {
  color: #4654EB;
}
#calendar .calendar-content .noday {
  font-size: 1.375em;
  color: #686868;
}
#calendar .calendar-content th {
  font-size: 1.375em;
}
#calendar .calendar-content td:first-child, #calendar .calendar-content th:first-child {
  padding-left: 0;
}
#calendar .calendar-content .calendar-table-dow {
  margin-bottom: 1.5rem;
}
#calendar .calendar-content .calendar-content-list-task {
  list-style: none;
}
#calendar .calendar-content .calendar-content-list-task a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.75rem;
  font-size: 1.375em;
}
#calendar .calendar-content .calendar-content-list-task:hover a .calendar-content-list-task-date, #calendar .calendar-content .calendar-content-list-task:hover a .calendar-content-list-task-slash, #calendar .calendar-content .calendar-content-list-task:hover a .calendar-content-list-task-name {
  color: #4654EB;
}

::-webkit-input-placeholder {
  font-color: #686868;
}

::-moz-placeholder {
  font-color: #686868;
}

:-ms-input-placeholder {
  font-color: #686868;
}

::-ms-input-placeholder {
  font-color: #686868;
}

::placeholder {
  font-color: #686868;
}

@media screen and (min-width: 1147px) and (max-width: 1691px) {
  .profile-card {
    width: 35% !important;
    font-size: 14px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1146px) and (orientation: landscape) {
  body {
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #e0e0ef;
    gap: 1rem;
  }
  #navigation {
    width: 100%;
  }
  #navigation #navbar {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    gap: 1rem !important;
    list-style: none !important;
    padding: 1rem !important;
    background: #FFFFFF !important;
    border-radius: 36px !important;
  }
  #navigation #navbar li {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  #navigation #navbar li button {
    font-size: 1rem;
    gap: 0.5rem;
  }
  #navigation #navbar li button img {
    width: 35px;
    height: 35px;
  }
  #navigation #navbar .nav-app-title {
    display: none;
  }
  #content {
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #content > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 88% !important;
  }
  .profile-card {
    display: none !important;
  }
  .profile-info {
    width: 94% !important;
  }
  .profile-info-image {
    display: inline-block !important;
    width: 45px;
    height: 45px;
  }
}
@media only screen and (min-width: 1147px) and (max-width: 1468px) {
  .profile-card-image {
    width: 6.75rem !important;
    height: 6.75rem !important;
  }
  .parameter-data {
    margin-right: 8em !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1146px) and (orientation: portrait) {
  body {
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #e0e0ef;
    gap: 1rem;
  }
  #navigation {
    width: 100%;
  }
  #navigation #navbar {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    gap: 1rem !important;
    list-style: none !important;
    padding: 1rem !important;
    background: #FFFFFF !important;
    border-radius: 36px !important;
  }
  #navigation #navbar li {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  #navigation #navbar li button {
    font-size: 1rem;
    gap: 0.5rem;
  }
  #navigation #navbar li button img {
    width: 35px;
    height: 35px;
  }
  #navigation #navbar .nav-app-title {
    display: none;
  }
  #navigation #content {
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #content > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 22px;
  }
  .profile-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 88% !important;
  }
  .profile-card {
    display: none !important;
  }
  .profile-info {
    width: 94% !important;
  }
  .profile-info-image {
    display: inline-block !important;
    width: 45px;
    height: 45px;
  }
  .parameter-data {
    margin-right: 12em !important;
  }
}