{% extends "base.html" %}

{% block title %}
    Title
{% endblock %}

{% block content %}
<div class="add_task">
  <h1>Добавить задачу</h1>
  <hr>
  <form method="POST" action="" novalidate>
    {{ form.csrf_token }}
      <div class="task_submit">
        <label>
          {{ form.name.label }}
        </label>
        {{ form.name }}
        {% for error in form.name.errors %}
          <div class="task_alert" role="alert">
            <span>{{ error }}</span>
          </div>
        {% endfor %}
      </div>

      <div class="task_submit">
        <label>
          {{ form.text.label }}
        </label>
        {{ form.text }}
        {% for error in form.text.errors %}
          <div class="task_alert" role="alert">
            <span>{{ error }}</span>
          </div>
        {% endfor %}
      </div>

      <div class="task_submit">
        <label>
          {{ form.do_before.label }}
        </label>
        {{ form.do_before }}
        {% for error in form.do_before.errors %}
          <div class="task_alert" role="alert">
            <span>{{ error }}</span>
          </div>
        {% endfor %}
      </div>

    <div class="task_submit">
      {{ form.submit }}
    </div>

  </form>
</div>
{% endblock %}