{% extends "base.html" %}

{% block title %}
    Title
{% endblock %}

{% block content %}
<form id="add-task" method="POST" action="" novalidate enctype="multipart/form-data">
  {{ form.csrf_token }}
  <div class="page-title">Добавить задачу</div>
  <div class="add-task-name" >
    <input type="text" placeholder="Название" maxlength="22" name="name">
  </div>
  <div class="add-task-text">
    <textarea type="text" placeholder="Описание" name="text"></textarea>
  </div>
  <div class="add-task-image">
    <input type="file" accept="image/*" name="image">
  </div>
  <div class="add-task-date">
    <input type="date" placeholder="" name="do_before">
  </div>
  <div class="add-task-submit">
    <input type="submit" value="Добавить">
  </div>
</form>
{% endblock %}