<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/static.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="wrapper">
        <div id="navigation">
            {% include "navigation.html" %}
        </div>
        <div id="content">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>