{% block content %}
<ul id="navbar">
    <li class="app-title">
        <div class="icon">
            <img src="/static/images/logo.png" class="app-icon" alt="profile">
        </div>
        Manager Tasks
    </li>
    <li>
        <form action="/tasks" method="GET">
                <button
                    {% if request.path == '/' or '/task/' in request.path %}
                        class="active"
                    {% endif %}
                    type="submit">
                    <img src="/static/images/main.png" class="nav-icon" alt="tasks">
                    Задачи
                </button>
        </form>
    </li>
    <li>
        <form action="/tasks/add" method="GET">
                <button
                    {% if request.path == '/add_task' %}
                        class="active"
                    {% endif %}
                     type="submit">
                    <img src="/static/images/tasks.png" class="nav-icon" alt="tasks">
                    Добавить задачу
                </button>
        </form>
    </li>
    <li>
        <form action="/chat" method="GET">
                <button
                    {% if request.path == '/chat' %}
                        class="active"
                    {% endif %}
                    type="submit">
                    <img src="/static/images/chat.png" class="nav-icon" alt="tasks">
                    Чат
                </button>
        </form>
    </li>
    <li>
        <form action="/workers" method="GET">
                <button
                    {% if request.path == '/workers' %}
                        class=""
                    {% endif %}
                    type="submit">
                    <img src="/static/images/workers.png" class="nav-icon" alt="tasks">
                    Соотрудники
                </button>
        </form>
    </li>
    {% if request.user.is_authenticated %}
        <li>
            <form action="/user/profile" method="GET">
                    <button
                        {% if request.path == '/profile' %}
                            class="active"
                        {% endif %}
                        type="submit">
                        <img src="/media/{{ user.image }}" class="nav-icon" alt="profile">
                        Профиль
                    </button>
            </form>
        </li>
    {% else %}
        <li>
            <form action="/user/login" method="GET">
                    <button
                        {% if request.path == '/profile' %}
                            class="active"
                        {% endif %}
                        type="submit">
                        <img src="/static/images/profile.png" class="nav-icon" alt="profile">
                        Вход
                    </button>
            </form>
        </li>
    {% endif %}
</ul>
{% endblock %}