{% extends "base.html" %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
<div class="registration">
  <h1>Регистрация</h1>
  <hr>
  <form action="" method="post", enctype="multipart/form-data">
    {{ form.csrf_token }}
    {% csrf_token %}
      <div class="form-group">
        <label>
          {{ form.first_name.label }}
        </label>
        {{ form.first_name }}
      </div>

      <div class="form-group">
        <label>
          {{ form.last_name.label }}
        </label>
        {{ form.last_name }}
      </div>

      <div class="form-group">
        <label>
          {{ form.username.label }}
        </label>
        {{ form.username }}
        {{ form.username.errors }}
      </div>

      <div class="form-group">
        <label>
          {{ form.password1.label }}
        </label>
        {{ form.password1 }}
        {{ form.password1.errors }}
      </div>

      <div class="form-group">
        <label>
          {{ form.password2.label }}
        </label>
        {{ form.password2 }}
        {{ form.password2.errors }}
      </div>

      <div class="form-group">
           <label>
              {{ form.image.label }}
           </label>
         {{ form.image }}
         {{ form.image.errors }}
      </div>

    <div class="task_submit">
        <button class="btn btn-success" type="submit">Продолжить</button>
        <a href="/user/login">Вход</a>
    </div>
  </form>
</div>
{% endblock %}