{% extends "base.html" %}

{% block title %}
    Manager Task
{% endblock %}

{% block content %}
    <ul id="task-list">
        <li class="task">
            <form action="/tasks/info/{{task.id}}">
                <button type="submit">
                    <div class="task-image"><img src="/static/images/profile_icon.png" alt="profile image"></div>
                    <div class="task-name">Lorem, ipsum dolor.</div>
                    <div class="task-text">Lorem ipsum dolor sit amet.</div>
                    <div class="task-date">20.01.2023</div>
                </button>
            </form>
        </li>
        <li class="task">
            <form action="/tasks/info/{{task.id}}">
                <button type="submit">
                    <div class="task-image"><img src="/static/images/profile_icon.png" alt="profile image"></div>
                    <div class="task-name">Lorem, ipsum dolor.</div>
                    <div class="task-text">Lorem ipsum dolor sit amet.</div>
                    <div class="task-date">20.01.2023</div>
                </button>
            </form>
        </li>
        <li class="task">
            <form action="/tasks/info/{{task.id}}">
                <button type="submit">
                    <div class="task-image"><img src="/static/images/profile_icon.png" alt="profile image"></div>
                    <div class="task-name">Lorem, ipsum dolor.</div>
                    <div class="task-text">Lorem ipsum dolor sit amet.</div>
                    <div class="task-date">20.01.2023</div>
                </button>
            </form>
        </li>
        {% for task in tasks %}
            <li class="task">
                <form action="/tasks/info/{{task.id}}">
                    <button type="submit">
                        <div class="task-image"><img src="/static/images/profile_icon.png" alt="profile image"></div>
                        <div class="task-name">{{ task.name }}</div>
                        <div class="task-text">{{ task.text }}</div>
                        <div class="task-date">{{ task.do_before }}</div>
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a class="add-task-btn" href="/tasks/add">+</a>
    </form>
{% endblock %}
