{% extends "base.html" %}

{% block title %}
    Title
{% endblock %}

{% block content %}
<div class="add_task">
  <h1>Добавить задачу</h1>
   <form method="POST", enctype="multipart/form-data">
      {% csrf_token %}

      <div class="task_submit">
           <label>
              {{ form.name.label }}
           </label>
         {{ form.name }}
         {{ form.name.errors }}
      </div>

       <div class="task_submit">
           <label>
              {{ form.text.label }}
           </label>
         {{ form.text }}
         {{ form.text.errors }}
      </div>

      <div class="task_submit">
           <label>
              {{ form.do_before.label }}
           </label>
         {{ form.do_before }}
         {{ form.do_before.errors }}
      </div>

      <div class="task_submit">
           <label>
              {{ form.image.label }}
           </label>
         {{ form.image }}
         {{ form.image.errors }}
      </div>

    <button class="btn btn-success" type="submit">Продолжить</button>
   </form>
</div>
{% endblock %}