{% extends "base.html" %}

{% block title %}
    Title
{% endblock %}

{% block content %}
<form id="add-task" class="form" method="POST" action="" novalidate enctype="multipart/form-data">
  {% csrf_token %}
  <div class="page-title">Добавить задачу</div>
  <div class="name" >
    <input type="text" placeholder="Название" maxlength="22" name="name"></input>
    <span class="alert">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eius explicabo blanditiis animi numquam invre laborum!</span>
  </div>
  <div class="text">
    <textarea type="text" placeholder="Описание" name="text"></textarea>
    <span class="alert">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eius explicabo blanditiis animi numquam invre laborum!</span> <!--Место под сообщение об ошибке в поле описания -->
  </div>
  <div class="image-input">
    <div class="image" >
      <label>
          <div>+</div>
          <input type="file" accept="image/*" name="image" onchange="uploadImage(event)">
          <span class="alert">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eius explicabo blanditiis animi numquam invre laborum!</span>
      </label>
      <script src="/static/js/uploadImage.js"></script>
    </div>
    <div id="image-container"></div>
  </div>
  <div class="date">
    <input type="date" placeholder="" name="do_before">
    <span class="alert">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eius explicabo blanditiis animi numquam invre laborum!</span> <!--Место под сообщение об ошибке в поле даты -->
  </div>
  <div class="submit-btn">
    <input type="submit" value="Добавить">
  </div>
</form>
<script src="/static/js/alert.js"></script>
{% endblock %}